* {
    color: blue;
  }

.error {
    color: red;
}

.success {
    color: green;
}

#selector {
    color: maroon;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
    text-align: center;
    line-height: 2;
    letter-spacing: 2px;
    word-spacing: 20px;
}

.font-style{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
}

ul {
    list-style-type:none;
    margin: 0px;
    padding: 0px;
}

.box-model {
    border-radius: 300px;
    border: 1px solid red;
    width: 300px;
    height: 150px;
    margin: 20px;
    padding: 20px;
    padding-left: 10px;
    margin-right: 5px;
}

h2 {
    color: blue;
}

h2 {
    color: indigo;
}

h3 {
    color: purple !important;
}

.h3 {
    color: orange;
}

#h3 {
    color: violet;
}

.interitance {
    color: orange;
    font-family: 'Segoe UI';
    font-size: 30px;
}

th, td {
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

table {
    border-collapse: collapse;
    width: 60%;
}

td {
    text-align: center;
    height: 50px;
    vertical-align: center;
}

.content1
{
    color: red;
    border: 1px solid green;
    display: inline;
}

.content2
{
    color: orange;
    border: 1px solid blue;
    display: none;
}

.position1
{
    border: 1px solid red;
    position: relative;
    bottom: 20px;
}

.position2
{
    border: 1px solid green;
    position: relative;
    bottom: 200px;
    left: 90px;
}

.position3
{
    border: 1px solid purple;
    position: relative;
    right: 200px;
}

.position4
{
    border: 1px solid blue;
    position: fixed;
    right: 0px;
    bottom: 0px
}

.container
{
    position: relative;
    width: 250px;
    height: 300px;
    border: 1px solid red;
}

.position5
{
    border: 1px solid magenta;
    position: absolute;
    right: 0px;
    bottom: 0px
}

.position6
{
    border: 1px solid magenta;
    position: sticky;
    top: 10px;
    left: 10px;
}

.em-container{
    font-size: 20px;
    height: 2em;
}

.em {
    font-size: 1.5em;
}

.rem {
    font-size: 3rem;
    height: 50vh;
    width: 50vh;
    border: 1px solid black;
}

.calculus {
    font-size: 12px;
    height: calc(50vh - 100vh);
    width: max(50px, 100px);
    padding: max(2px,3px);
    margin: min(5px, 30px);
    border: 1px solid black;
}